@use '_commons' as e;



/* MOBILE*/

#carrousel__inicio {
    grid-area: carroinicio;
    margin-left: 30px;
    margin-right: 30px;
}


#carrousel__teayudo {
    grid-area: carroteayudo;
    margin-left: 30px;
    margin-right: 30px;
}




/* DESKTOP*/


@media only screen and (min-width:1280px) {



    #carrousel__inicio {
        margin-left: 100px;
        margin-right: 100px;
        padding-top: 20px;
    }


     



}



@media only screen and (min-width:1280px) {

    #carrousel__teayudo {

        margin-left: 100px;
        margin-right: 100px;
    }
    



}



