

$margin-general:0;
$padding-general:0;
$color-body: linear-gradient(to right, #8E185D 0%, #FF96CA 80%, #8E185D 100%);
$font-body:'Source Sans Pro', sans-serif;
$color-titulo-pricipal:white;
$size-titulo-principal: large;
$padding-top-titulo-principal: 50px;
$padding-bottom-titulo-principal: 30px;
$color-box: linear-gradient(#FF96CA 0%, #F7ECCB 120%);

$ancho-box:1000px;
$alto-box:300px;
$ancho-box-desktop:1100px;

