@use '_commons' as e;



* {
    margin: e.$margin-general;
    padding:e.$padding-general;

}

/* PAGINA DE CONTACTO*/




#contenedor__contacto {


    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:

        "cabecontacto"
        "tcontacto"
        "formcontacto"
        "infointeres"
        "pie"
    ;


}

#Cabecera__contacto {
    grid-area: cabecontacto;

}

#titulo__contacto {
    grid-column: tcontacto;
    text-align: center;

    h1{
        color:lightcyan;
        font-size: e.$size-titulo-principal;
      
        background-color: e.$color-separador;
    }
}












