@use '_commons' as e;


#pie {

    grid-area: pie;
    text-align: center;
    padding-top: 150px;
    font-weight: 600;



    .icon-facebook2 {
        text-decoration: none;
    
        &:before{
            content: "\ea91";
            color: grey;
        }
    }
    
    .icon-instagram {
        text-decoration: none;
    
        &::before{
            content: "\ea92";
            color: grey;
        
    
    
        }
    }

}
