@use '_commons' as e;


#pie {

    grid-area: pie;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    background-color: e.$color-separador;



    .icon-facebook2 {
        text-decoration: none;
    
        &:before{
            content: "\ea91";
            color: e.$color-body;
        }
    }
    
    .icon-instagram {
        text-decoration: none;
    
        &::before{
            content: "\ea92";
            color: e.$color-body;
        
    
    
        }
    }

}
