@use '_commons' as e;


/*MOBILE*/

#form__inicio {

    grid-area: forminicio;
    text-align: center;
    padding-top: 20px;



   

      input {
           background: linear-gradient(to right, #B21368, #F2C5E0);
           width: 80px;
           display: block;
           position: relative;
           cursor: pointer;
           text-align: center;
           animation: saltarin 2s infinite;
           margin: 0px auto;
   
   
           @keyframes saltarin {
   
               0% {
                   left: 0px;
               }
   
               50% {
                   left: 10px;
               }
   
               100% {
                   left: 0px;
               }
           }
       }


     


       textarea {
           text-align: center;
           border-radius: 8px;
           color: lightgray
       }


       .tex-form-inicio{

           color: white;
           font-weight: bold;
   
        } 



   }


 #form__contacto {
    grid-area: formcontacto;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 70px;
   
    label {

        color: white;
        font-weight: bold;
    }

}


#form__teayudo {

    grid-area: formteayudo;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 90px;

    label {

        color: white;
        font-weight: bold;
    }



}


/*DESKTOP*/

@media only screen and (min-width:1280px) {

    #form__contacto {
        margin-left: auto;
        margin-right: auto;
        padding-top: 70px;


    }
   


}




@media only screen and (min-width:1280px) {

    #form__teayudo {

        grid-area: formteayudo;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 90px;
    
    }


}


