@use '_commons' as e;

* {
    margin: e.$margin-general;
    padding:e.$padding-general;

}



/* PAGINA DE MISION*/


body{
    background-color:map-get(e.$colores,"body");
 }
 

#contenedor__mision {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:


        "cabemision"
        "tmision"
        "heromision"
        "pie"


    ;

}

#cabecera__mision {
    grid-area: cabemision;
    padding-bottom: 70px;
    background-color:map-get(e.$colores,"separador");
    border-radius: 70px;
}




#titulo__mision {
    grid-area: tmision;
    text-align: center;
    background-color:map-get(e.$colores,"section");
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 4px solid #ff8ba7;
    margin-bottom: 20px;

    

    h1{

        color:map-get(e.$colores,"titulo-pricipal");
        font-size: e.$size-titulo-principal;
        padding-top: e.$padding-top-titulo-principal;
        padding-bottom: e.$padding-bottom-titulo-principal;

    }

}











