@use '_commons' as e;

/* PAGINA DE VISION MOBILE FIRTS*/

* {
    margin: e.$margin-general;
    padding:e.$padding-general;

}

body{
    background-color:e.$color-body;
 }


#contenedor__vision {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:

        "cabevision"
        "tvision"
        "herovision"
        "pie"

    ;

}

#cabecera__vision {
    grid-area: cabevision;
    padding-bottom: 70px;
    background-color:e.$color-separador;
    border-radius: 70px;

}



#titulo__vision {
    grid-area: tvision;
    text-align: center;
    background-color: e.$color-section;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 4px solid #ff8ba7;
    margin-bottom: 20px;

    h1{

        color: e.$color-titulo-pricipal;
        font-size: e.$size-titulo-principal;
        padding-top: e.$padding-top-titulo-principal;
        padding-bottom: e.$padding-bottom-titulo-principal;
       

    }

}













